main {
    width:calc(100% - 60px);
    margin: 0 auto; margin-bottom: 100px;
}
main .product_wrap {
    
    
}
main .product_wrap h2 {
    font-size: 1.3rem; font-weight: 600;
    margin: 150px 0 25px 0;
}
main .product_wrap .item_kind {}
main .product_wrap .item_kind ul {
    display: flex;

}

main .product_wrap .item_kind ul .all {
    margin-right: 30px;
}
main .product_wrap .item_kind ul .all:hover {}
main .product_wrap .item_kind ul .all a:hover {}
main .product_wrap .item_kind ul .all a .small_txt {
    padding-left: 5px;
    font-size: 0.7rem;
    color:#aaa;
    vertical-align: 0.3rem;
    
}
main .product_wrap .item_kind ul li {margin-right: 30px;}
main .product_wrap .item_kind ul li:last-child {margin-right: 0px;}
main .product_wrap .item_kind ul li a {}
main .product_wrap .item_kind ul li a:hover {text-decoration: underline;}
main .product_wrap .item_kind ul li a .small_txt {
    padding-left: 5px;
    font-size: 0.7rem;
    color:#aaa;
    vertical-align: 0.3rem;
}
main .product_wrap .product {
    margin-top: 50px; 
    /* background-color: lime; */
}
main .product_wrap .product .item {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    
    
    /* background-color: aqua; */
}
main .product_wrap .product .item li {
    width: 25%;
    display: flex; flex-flow: column nowrap;
    margin-bottom: 50px;
    

}
main .product_wrap .product .item li .item_detail {
    margin-right: 20px;
}




/* main .product_wrap .product .item li a .main_img {width: 100%; } */
main .product_wrap .product .item li .item_detail #detail_img {
    width: 100%;
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail #detail_img .swiper-wrapper {}
main .product_wrap .product .item li .item_detail #detail_img .swiper-wrapper .swiper-slide {}
main .product_wrap .product .item li .item_detail #detail_img .swiper-wrapper .slide1 {}
main .product_wrap .product .item li .item_detail #detail_img .swiper-wrapper .slide1 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail .detail_img .swiper-wrapper .slide2 {}
main .product_wrap .product .item li .item_detail #detail_img .swiper-wrapper .slide2 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img .swiper-wrapper .slide3 {}
main .product_wrap .product .item li .item_detail #detail_img .swiper-wrapper .slide3 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img .swiper-wrapper .slide4 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img .swiper-button-prev {
    background: url(../images/adver_prev.png) no-repeat;
    
}
main .product_wrap .product .item li .item_detail #detail_img .swiper-button-next {
    background: url(../images/adver_next.png) no-repeat;
}
main .product_wrap .product .item li .item_detail #detail_img .swiper-button-prev:after, 
main .product_wrap .product .item li .item_detail #detail_img .swiper-button-next:after {display: none;}

/* main .product_wrap .product .item li a .main_img {width: 100%; } */
main .product_wrap .product .item li .item_detail #detail_img1 {
    width: 100%;
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-wrapper {}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-wrapper .swiper-slide {}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-wrapper .slide1 {}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-wrapper .slide1 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail .detail_img1 .swiper-wrapper .slide2 {}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-wrapper .slide2 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-wrapper .slide3 {}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-wrapper .slide3 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-wrapper .slide4 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-button-prev {
    background: url(../images/adver_prev.png) no-repeat;
    
}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-button-next {
    background: url(../images/adver_next.png) no-repeat;
}
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-button-prev:after, 
main .product_wrap .product .item li .item_detail #detail_img1 .swiper-button-next:after {display: none;}

/* main .product_wrap .product .item li a .main_img {width: 100%; } */
main .product_wrap .product .item li .item_detail #detail_img2 {
    width: 100%;
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-wrapper {}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-wrapper .swiper-slide {}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-wrapper .slide1 {}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-wrapper .slide1 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail .detail_img2 .swiper-wrapper .slide2 {}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-wrapper .slide2 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-wrapper .slide3 {}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-wrapper .slide3 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-wrapper .slide4 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-button-prev {
    background: url(../images/adver_prev.png) no-repeat;
    
}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-button-next {
    background: url(../images/adver_next.png) no-repeat;
}
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-button-prev:after, 
main .product_wrap .product .item li .item_detail #detail_img2 .swiper-button-next:after {display: none;}
/* main .product_wrap .product .item li a .main_img {width: 100%; } */
main .product_wrap .product .item li .item_detail #detail_img3 {
    width: 100%;
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-wrapper {}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-wrapper .swiper-slide {}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-wrapper .slide1 {}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-wrapper .slide1 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail .detail_img3 .swiper-wrapper .slide2 {}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-wrapper .slide2 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-wrapper .slide3 {}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-wrapper .slide3 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-wrapper .slide4 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-button-prev {
    background: url(../images/adver_prev.png) no-repeat;
    
}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-button-next {
    background: url(../images/adver_next.png) no-repeat;
}
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-button-prev:after, 
main .product_wrap .product .item li .item_detail #detail_img3 .swiper-button-next:after {display: none;}
/* main .product_wrap .product .item li a .main_img {width: 100%; } */
main .product_wrap .product .item li .item_detail #detail_img4 {
    width: 100%;
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-wrapper {}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-wrapper .swiper-slide {}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-wrapper .slide1 {}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-wrapper .slide1 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail .detail_img4 .swiper-wrapper .slide2 {}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-wrapper .slide2 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-wrapper .slide3 {}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-wrapper .slide3 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-wrapper .slide4 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-button-prev {
    background: url(../images/adver_prev.png) no-repeat;
    
}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-button-next {
    background: url(../images/adver_next.png) no-repeat;
}
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-button-prev:after, 
main .product_wrap .product .item li .item_detail #detail_img4 .swiper-button-next:after {display: none;}
/* main .product_wrap .product .item li a .main_img {width: 100%; } */
main .product_wrap .product .item li .item_detail #detail_img5 {
    width: 100%;
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-wrapper {}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-wrapper .swiper-slide {}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-wrapper .slide1 {}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-wrapper .slide1 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail .detail_img5 .swiper-wrapper .slide2 {}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-wrapper .slide2 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-wrapper .slide3 {}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-wrapper .slide3 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-wrapper .slide4 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-button-prev {
    background: url(../images/adver_prev.png) no-repeat;
    
}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-button-next {
    background: url(../images/adver_next.png) no-repeat;
}
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-button-prev:after, 
main .product_wrap .product .item li .item_detail #detail_img5 .swiper-button-next:after {display: none;}
/* main .product_wrap .product .item li a .main_img {width: 100%; } */
main .product_wrap .product .item li .item_detail #detail_img6 {
    width: 100%;
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-wrapper {}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-wrapper .swiper-slide {}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-wrapper .slide1 {}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-wrapper .slide1 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail .detail_img6 .swiper-wrapper .slide2 {}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-wrapper .slide2 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-wrapper .slide3 {}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-wrapper .slide3 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-wrapper .slide4 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-button-prev {
    background: url(../images/adver_prev.png) no-repeat;
    
}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-button-next {
    background: url(../images/adver_next.png) no-repeat;
}
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-button-prev:after, 
main .product_wrap .product .item li .item_detail #detail_img6 .swiper-button-next:after {display: none;}

/* main .product_wrap .product .item li a .main_img {width: 100%; } */
main .product_wrap .product .item li .item_detail #detail_img7 {
    width: 100%;
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-wrapper {}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-wrapper .swiper-slide {}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-wrapper .slide1 {}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-wrapper .slide1 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail .detail_img7 .swiper-wrapper .slide2 {}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-wrapper .slide2 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-wrapper .slide3 {}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-wrapper .slide3 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-wrapper .slide4 img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-button-prev {
    background: url(../images/adver_prev.png) no-repeat;
    
}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-button-next {
    background: url(../images/adver_next.png) no-repeat;
}
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-button-prev:after, 
main .product_wrap .product .item li .item_detail #detail_img7 .swiper-button-next:after {display: none;}



main .product_wrap .product .item li .item_detail .item_text {
    
    
    
}
main .product_wrap .product .item li .item_detail .item_text p {
    margin-bottom: 10px;
}
main .product_wrap .product .item li .item_detail .item_text h3 {
    margin-bottom: 5px; font-size: 1.3rem; font-weight: 600;
}
main .product_wrap .product .item li .item_detail .item_text .price_like {
    line-height: 16px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid#aaa;
    padding-bottom: 10px;
}
main .product_wrap .product .item li .item_detail .item_text .price_like .price {
    font-weight: 500;
}
main .product_wrap .product .item li .item_detail .item_text .price_like .like {
    font-size: 0.7rem; vertical-align: 0.3rem;
    
}
main .product_wrap .product .item li .item_detail .item_text .price_like .like img {
    width: 15px; height: 15px;
    margin-right: 5px;
}
main .product_wrap .product .item li .item_detail .item_text .item_btm {
    margin-top: 15px; padding-bottom: 10px;
}
main .product_wrap .product .item li .item_detail .item_text .item_btm span {
    border: 1px solid#aaa;
    background-color: #D9D9D9;
    font-size: 0.7rem;
    margin-right: 5px; padding: 2px 2px;
}